@model StayFit.Models.GymMember

@{
    ViewBag.Title = "GymMemberDetails";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div>
    <h1 style="font-size:45px;font-weight:500;font-style:initial;font-family:Georgia; color:#18bc9c"> User Details</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembershipType)
        </dt>

        <dd>

            @if (Model.MembershipType.Equals("2"))
            {
                <p>STANDARD: A$50/Month </p>
            }
            @if (Model.MembershipType.Equals("3"))
            {
                <p>  PREMIUM: A$80/Month </p>
            }
            @if (Model.MembershipType.Equals("4"))
            {
                <p> PLATINUM: A$120/Month </p>
            }

        </dd>


    </dl>
</div>

<hr style="border-top: 1px solid #ccc; background: transparent;">
<div>
    <h4 style="font-size:20px; font-weight:300;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <span> <i class="glyphicon glyphicon-hand-left" style="color:darkcyan"></i> </span> @Html.ActionLink("Edit", "GymMemberEdit", new { id = Model.Member_Id }) |
        @Html.ActionLink("Back to Users List", "GymMembersList") <span> <i class="glyphicon glyphicon-hand-right" style="color:darkcyan"></i> </span>
    </h4>
</div>