@model StayFit.Models.PostMessageViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1 style="font-size:45px;font-weight:500;font-style:initial;font-family:Georgia; color:#18bc9c"> Edit Discussion</h1>
<hr style="border-top: 1px solid #ccc; background: transparent;">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.post_message_id)

        
        <div class="form-group">
            <div class="col-md-10">
                <h3 style="font-size:22px; font-weight:200;font-family:Helvetica; display:inline-block">Discussion Contents</h3>
                @Html.EditorFor(model => model.post_message, new { htmlAttributes = new { @class = "form-control", @id = "textArea" } })
                @Html.ValidationMessageFor(model => model.post_message, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        tinymce.init({
            selector: '#textArea'
        });
    </script>

}
<br /><br />
<hr />

<div>
    <h3 style="font-size:22px; font-weight:200;font-family:Helvetica; color:#18bc9c; display:inline-block">
        <span> <i class="glyphicon glyphicon-hand-left" style="color:darkcyan"></i> </span>@Html.ActionLink("Back to Discussion Board", "PostsList") <span> <i class="glyphicon glyphicon-hand-left" style="color:darkcyan"></i> </span>
    </h3>

</div>
