@model IEnumerable<StayFit.Models.GymMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Gym_Member_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Style.css" rel="stylesheet" />
    
</head>
<body>
    <br /> <br />
    <div>
    <h1 style="font-size:45px;font-weight:500;font-style:initial;font-family:Georgia; color:#18bc9c">Book Our Services</h1>
    <h3 style="font-size:20px;line-height:20px; text-align:justify;">We provide variety of services. We take each member with whole-heared care to make everyone fit and healthy.</h3>
    <h3 style="font-size:20px;line-height:20px; text-align:justify;">Join our services and get in shape fast.</h3>
    <hr style="border-top: 1px solid #ccc; background: transparent;">
</div>
    <div class="row">
        <div class="col-md-4">
            <div class="card " >
                <img src="~/Content/Images/yoga_service2.jpg" class="img-responsive img-rounded " />
                <div class="card-body" style=" box-sizing: border-box">
                    <h2 class="card-title" style="padding-left:8px ; padding-right:8px">Yoga Meditation</h2>
                    <p class="card-text" style="line-height:25px; text-align:justify; padding-left:8px ; padding-right:8px">Yoga meditation classes are entwined in a relationship of mental and physical fulfilment, and compliment each other harmoniously,Yoga asanas develops strength and flexibility.Improve your body strength, join our yoga sessions.</p>
                     <p style="padding-left:12px ; padding-bottom:12px; " >@Html.ActionLink("Book Now", "Create", "ServiceBookings", null, new { @class = "btn btn-success" })</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="~/Content/Images/boxing_service.jpg" class="img-responsive img-rounded " />
                <div class="card-body" style=" box-sizing: border-box">
                    <h2 class="card-title" style="padding-left:8px ; padding-right:8px">Boxing</h2>
                    <p class="card-text" style="line-height:25px; text-align:justify; padding-left:8px ; padding-right:8px">The right balance of strength & cardio put together. Boxing for fitness is the perfect all over body workout, great to get your heart pumping & burn lots of calories.Improve your body strength, join our boxing sessions.</p>
                    <p style="padding-left:12px ; padding-bottom:12px; ">@Html.ActionLink("Book Now", "Create", "ServiceBookings", null, new { @class = "btn btn-success" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Content/Images/cardio_service.jpg" class="img-responsive img-rounded " />
                <div class="card-body" style=" box-sizing: border-box">
                    <h2 class="card-title" style="padding-left:8px ; padding-right:8px">Cardio Program</h2>
                    <p class="card-text" style="line-height:25px; text-align:justify; padding-left:8px ; padding-right:8px">High Intense Interval Training/Cardio Program is the best way to get your heart pumping so you feel amazing and get you burning calories ever after you’ve stopped training.Improve your body strength, join our cardio sessions.</p>
                    <p style="padding-left:12px ; padding-bottom:12px; ">@Html.ActionLink("Book Now", "Create", "ServiceBookings", null, new { @class = "btn btn-success" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Content/Images/bodypump_service2.jpg" class="img-responsive img-rounded " />
                <div class="card-body" style=" box-sizing: border-box";>
                    <h2 class="card-title" style="padding-left:8px ; padding-right:8px">BODYPUMP</h2>
                    <p class="card-text" style="line-height:25px; text-align:justify; padding-left:8px ; padding-right:8px">BODYPUMP is a barbell workout for anyone looking to get lean, toned and fit–fast,It gives you a total body workout. It will burn up to 540 calories*. Improve your body strength, join our bodypump sessions.</p>
                    <p style="padding-left:12px ; padding-bottom:12px; ">@Html.ActionLink("Book Now", "Create", "ServiceBookings", null, new { @class = "btn btn-success" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Content/Images/zumba_service3.jpg" class="img-responsive img-rounded " />
                <div class="card-body" style=" box-sizing: border-box">
                    <h2 class="card-title" style="padding-left:8px ; padding-right:8px">ZUMBA</h2>
                    <p class="card-text" style="line-height:25px; text-align:justify; padding-left:8px ; padding-right:8px">Get your groove-on with signature Latin and salsa-style music. It’s choreographed with intervals of intensity, body movements and music. Improve your body strength, join our zumba sessions.</p>
                     <p style="padding-left:12px ; padding-bottom:12px; ">@Html.ActionLink("Book Now", "Create", "ServiceBookings", null, new { @class = "btn btn-success" })</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="~/Content/Images/crsfit_service.jpg" class="img-responsive img-rounded " />
                <div class="card-body">
                    <h2 class="card-title" style="padding-left:8px ; padding-right:8px">CrossFit</h2>
                    <p class="card-text" style="line-height:25px; text-align:justify; padding-left:8px ; padding-right:8px">CrossFit is an effective way to get fit. It is a fitness program that combines a wide variety of functional movements into a timed or scored workout.Improve your body strength, join our crossfit sessions.</p>
                    <p style="padding-left:12px ; padding-bottom:12px; ">@Html.ActionLink("Book Now", "Create", "ServiceBookings", null, new { @class = "btn btn-success" })</p>
                </div>
            </div>
        </div>
    </div>
</body>
  
</html>
