@model StayFit.Models.ServiceBooking

@{
   ViewBag.Title = "Create";
   Layout = "~/Views/Shared/Gym_Member_Layout.cshtml";
}
<div class="well">
    <h1 style="font-size:45px;font-weight:500;font-style:initial;font-family:Georgia; color:darkcyan">Service Booking</h1>
    <link rel="stylesheet" type="text/css" media="all" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css" />
    <hr style="border-top: 1px solid #ccc; background: transparent;">
    <div class="row">

        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="container" style="margin-left:20px">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <h3 style="font-size:21px; font-weight:400;font-family:Helvetica; color:darkcyan;">Choose the Service: </h3>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Service.Service_Id, (IEnumerable<SelectListItem>)ViewBag.Service, "--Select a service--", new { @class = "form-control", @id = "xx" })

                            </div>
                        </div>

                        <div class="form-group">
                            <h3 style="font-size:21px; font-weight:400;font-family:Helvetica; color:darkcyan; display:inline-block">Choose the schedule: </h3>
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.ServiceTimings.Timing_Id, new SelectList(" "), "--Select a service timing--", new { @class = "form-control", @id = "yy" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <h3 style="font-size:21px; font-weight:400;font-family:Helvetica; color:darkcyan; display:inline-block">Choose the Date: </h3>
                                @Html.EditorFor(model => model.BookingDate, new { htmlAttributes = new { @class = "form-control date-picker2 " } })
                                @Html.ValidationMessageFor(model => model.BookingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group text-center">
                            <div class="col-md-2">
                                <input type="submit" value="Book" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/ser2.png" class="img-responsive img-rounded" />

        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#xx").change(function () {
                var item = this;
                $.get("/ServiceBookings/GetTimings", { Timing_Id: item.value }, function (data) {
                    $("#yy").empty();
                    $.each(data, function (index, row) {
                        $("#yy").append("<option value='" + row.Timing_Id + "'>" + row.Timing + "</option>")

                    });
                });
            })
        });
    </script>

</div>