<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayFit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/Style.css" rel="stylesheet" />
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Admin")" class="navbar-brand">
                    <img src="~/Content/Images/newlogo.png" title="title" alt="additional title" width="110" height="40" style="padding-bottom:8px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Users", "GymMembersList", "Admin")</li>
                    <li>@Html.ActionLink("Tips and Posts", "PostsList", "Admin")</li>

                    <li>@Html.ActionLink("Bookings", "Index", "ServiceBookings")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer id="fh5co-footer" class="fh5co-bg" role="contentinfo">
            <div class="overlay"></div>
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-4 fh5co-widget">
                        <h3>About Us.</h3>
                        <p>We are the best of best. Train with confidences ,Set a goal and beat through challenges.</p>
                        <br />
                    </div>
                    <div class="col-md-8">
                        <h3>Our Classes</h3>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <ul class="fh5co-footer-links">
                                <li><a href="#">Cardio</a></li>
                                <li><a href="#">Yoga</a></li>

                            </ul>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <ul class="fh5co-footer-links">
                                <li><a href="#">Cross Fit</a></li>
                                <li><a href="#">Personal Training</a></li>

                            </ul>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <ul class="fh5co-footer-links">
                                <li><a href="#">BodyPump</a></li>
                                <li><a href="#">Boxing</a></li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2018 . All Rights Reserved.</small>
                            <small class="block">Designed by Sharuq. Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                        </p>

                    </div>
                </div>

            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>



    <script>
        $(function () {
            $('.date-picker2').datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: 'today'
            });
        });
    </script>


</body>
</html>
